.head-text {
  position: relative;
  height: 60%;
}
.text-on-image {
 position: absolute;
 right: 40%;
 left: 40%;
 bottom: 40%;
 text-align: center;
}

.app-full {
  height: 100vh;
}

.head-image {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 60vh;
}

.bottom-text {
  height: 40%;
  display: flex;
  justify-content: center;
}

.bottom-image {
  height: 100%;
  width: 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
